name: Publish NPM Package

on:
  push:
    tags:
      - '*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  package:
    runs-on: ubuntu-latest
    name: Publish NPM Package

    steps:
      - name: Cloning repo
        uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci
      - run: npm run deploy
